  body {
    background-color: rgb(0, 0, 0);
  }

  .navbar {
    user-select: none;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
    border-radius: 100px;
    padding: 10px;
  }
    
  .navigationbar {
    position: relative;
    font-size: 25px;
    text-decoration: none;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    color: black;
    overflow: hidden;
  }
    
  .nav-left {
    padding-left: 200px;
  }

  .nav-mid {
    padding: auto;
  }

  .nav-right {
    padding-right: 200px;
  }

  .nav-left:hover, .nav-mid:hover, .nav-right:hover {
    transition: 1s ease-in-out;
    color: rgb(255, 132, 0);
    text-decoration: underline;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .row1, .row2 {
    user-select: none;
  }

  .row1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .row1 > div {
    width: 250px;
    height: 300px;
    margin-top: 70px;
    background-color: black;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
  }

  .Einstein, .Curie {
    margin-left: 170px;
  }

  .Hawkings, .Kepler {
    margin-right: 170px;
  }

  .row2 {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .row2 > div {
    width: 250px;
    height: 300px;
    margin-top: 70px;
    background-color: black;
    margin-bottom: 50px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out;
  }

  img:hover {
    transform: scale(1.25);
  }

  img:not(:hover) {
    transform: scale(1);
  }

  .row1 > div:hover, .row2 > div:hover {
    opacity: 1;
  }

  .row1 > div:hover ~ .row1 > div {
    transform: translateX(300px);
  }

  .row2 > div:hover ~ .row2 > div {
    transform: translateX(-300px);
  }

  .text-content {
    visibility: hidden;
  }
